<p>deck works!</p>
<div appStartGame>  
Start game
</div>
<!-- <div>
Buy in p1
</div>
<div>
    Buy in p2
</div> -->

<!-- <audio id="audio" src="../kevinsWebsite/sound-onclick/click.mp3" autoplay="false" ></audio> -->
<audio id="audio" src="/Users/kevinkeenan/Desktop/website/kevinsWebsite/sound-onclick/click.mp3" autoplay="false" ></audio>
<a onclick="playSound();"> Play</a>
<script>
function playSound() {
      var sound = document.getElementById("audio");
      sound.play();
  }
</script>

<div id ='potDiv'>
    POT: {{pot}}
</div>
<p>player 1 $</p>
<div id ='player1Chips'>
    {{player1Chips}}
</div>
<p>player 2 $</p>
<div id ='player2Chips'>
    {{player2Chips}}
</div>
<button id='checkButton' onclick = "">check</button> 
<div>
<!-- <input id='raiseSlider' type = "range" min = "0" max = "{player1Chips}">raise -->
<input id='raiseSlider' type="range" value="1" min="1" max="{player1Chips}" oninput="this.nextElementSibling.value = this.value">RAISE
<output id='raiseSlider' appRaiseAmount>1</output>
<br>
</div>
<button id='raiseOneThird' appRaiseAmount>1/3</button> 
<button id='raiseOneHalf' appRaiseAmount>1/2</button> 
<button id='raisePot' appRaiseAmount>Pot</button> 

<!-- <button onclick="shuffleDeck()"></button> -->