<div appStartGame>  
Start game
</div>
<!-- <div>
Buy in p1
</div>
<div>
    Buy in p2
</div> -->

<!-- <audio id="audio" src="../kevinsWebsite/sound-onclick/click.mp3" autoplay="false" ></audio> -->
<!-- <audio id="audio" src="../assets/sound-onclick/click.mp3" autoplay="false" ></audio> -->
<button class = "btn btn-primary" (click)="playSound()"> Play</button>
<!-- <script>
function playSound() {
      var sound = document.getElementById("audio");
      sound.play();
  }
</script> -->

<div id ='potDiv'>
    POT: {{pot}}
</div>
<p>player 1 $</p>
<div id ='player1Chips'>
    {{player1Chips}}
</div>
<div>
    <img class = "cardImage" src={{player1Card}} />
    <img class = "cardImage" src={{player1Card2}} />
</div>
<p>player 2 $</p>
<div id ='player2Chips'>
    {{player2Chips}}
</div>
<div>
    <img class = "cardImage" src={{player2Card}} />
    <img class = "cardImage" src={{player2Card2}} />
</div>
<button id='checkButton' (click)="playSound()" >check</button> 
<div>
<!-- <input id='raiseSlider' type = "range" min = "0" max = "{player1Chips}">raise -->
<input id='raiseSlider' type="range" value="1" min="1" max="{player1Chips}" oninput="this.nextElementSibling.value = this.value">RAISE
<output class="btn btn-primary" id='raiseSlider' appRaiseAmount (click)="playSound()">1</output>
<br>
</div>
<button id='raiseOneThird' appRaiseAmount (click)="playSound()">1/3</button> 
<button id='raiseOneHalf' appRaiseAmount (click)="playSound()">1/2</button> 
<button id='raisePot' appRaiseAmount (click)="playSound()"> Pot</button> 

<div>
    <img class = "cardImage" src={{boardCards[0]}} />
    <img class = "cardImage" src={{boardCards[1]}} />
    <img class = "cardImage" src={{boardCards[2]}} />
    <img class = "cardImage" src={{boardCards[3]}} />
    <img class = "cardImage" src={{boardCards[4]}} />
</div>

<!-- <button onclick="shuffleDeck()"></button> -->